.main_container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 90px auto;
  grid-template-columns: 90px auto 350px;
  grid-template-areas:
    "head head head"
    "side-menu data user";
}

/* .boxes {
  display: flex;
  align-items: center;
} */

#logo_container {
  padding-left: 5rem;
  scale: 0.9;
}

#box1 {
  grid-area: head;
  padding: 0 2rem;
  border-bottom: 2px solid;
}

#box2 {
  grid-area: side-menu;
  padding-top: 1rem;
}

#box3 {
  grid-area: data;
  width: 100%;
  /* overflow-y: scroll; */
}

#box4 {
    grid-area: user;
    width: 90%;
    margin: 3rem auto;
    align-content: center;
}

i {
  text-align: center;
}

.sub_box {
  margin: 0.5rem;
}

/* canvas {
  height: 200px;
} */

table {
  height: 75%;
}

.reply {
  margin-left: 2rem;
}

#team-members > li {
    margin-right: 2rem;
}

#box33 > div {
  background-color: rgb(223, 223, 223);
}

h4 {
  text-decoration: underline;
}
